body{
    margin:0;
    padding: 0;
    background: url(pexels-cdc-3993212.jpg) no-repeat;
    background-size: cover;
}
.box{
    width: 650px;
    background: rgba(0,0,0,0.7);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p{
    text-align:justify;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.box li a{
    color: white;
    text-decoration: none;
    font-size: 45px;
    transition: all ease-in-out 250ms;
}
.box a:hover{
    color: purple;
}

